<!--The content below is only a placeholder and can be replaced.-->
<md-sidenav-container fullscreen>
  <md-sidenav #sideNav>
  </md-sidenav>
  <div class="wblz-app">
      <div class="toolbar-wrapper mat-elevation-z6">
        <md-toolbar color="primary">
          <span><a md-button><i class="material-icons">rss_feed</i>WEBLYZ</a></span>
          <span class="toolbar-fill-remaining"></span>
          <span><a md-button color="accent"><i class="material-icons">settings_input_antenna</i></a></span>
        </md-toolbar>
      </div>
      <main>
        <h2 class="mat-h2">Here are some links to help you start: </h2>
        <ul>
          <li>
            <h2><a md-button target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
          </li>
          <li>
            <h2><a md-button color="accent" target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
          </li>
          <li>
            <h2><a md-button color="secondary" target="_blank" href="https://blog.angular.io/">Angular blog</a></h2>
          </li>
        </ul>

      </main>
  </div>
</md-sidenav-container>
